.bg-page{
    background: #F2F2F2;
}
font{
    font-weight: bold;
}
/* wehave */
.wehave{
    display: flex;
    width: 100%;
    margin: 100px auto;
    max-width: 1170px;
    justify-content: space-between;
}
.text-wehave{
    width: 533px;
}
.text-wehave h2{
    margin: 0 0 8px 0;
    font-size: 32px;
    line-height: 48px;
    color: #0F1C49;
    font-weight: normal;
    font-family: roboto;
}
.text-wehave p{
    margin: 24px 0;
    font-size: 16px;
    line-height: 28px;
    color: #878DA4;
}
.box-wehave{
    display: flex;
    flex-direction: column;
    width: 510px;
    height: 240px;
    align-items: center;
    background: #F8FBFC;
    border-radius: 8px; 
    padding: 28px 0;
}
/* end wehave */
/* why */
.line-why{
    width: 1170px;
    margin: 0 auto;
}
.why{
    width: 100%;
    margin: 100px auto;
    text-align: center;
    color: #0F1C49;
}
.why h2{
    font-family: roboto;
    font-size: 32px;
    line-height: 48px;
}
.why h3{
    font-size: 24px;
    line-height: 38px;
    margin-top: 23px;
}
.why p{
    width: 340px;
    font-size: 16px;
    line-height: 28px;
    color: #878DA4;
    margin: 0 auto;
    margin-top: 16px;
}
.frame-why{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
}
.box-why{
    width: 370px;
}
/* end why */
/* photo */
.photo{
    display: flex;
    flex-direction: row;
    background: #F8FBFC;
    width: 100%;
    max-width: 1440px;
    overflow-x: scroll;
    /* height: 433px; */
    padding-top: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.photo img{
    margin-right: 8px;
}
/* end phopo */
@media screen and (max-width: 1279px ) and (min-width: 768px ){
.wehave{
    display: flex;
    flex-direction: column;
    width: 533px;
    margin: 0 auto;
}
.line-why{
    width: 553px;
    margin-top: 30px;
}
.frame-why{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 0 auto;
}
.box-why{
    margin: 30px 0;
}
.photo img{
    width: 60%;
    height: 60%;
}
}

@media screen and (max-width: 767px){
.wehave{
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 40px auto;
}
.line-why{
    width: 300px;
}
.frame-why{
    display: flex;
    flex-direction: column;
    width: 375px;
}
.text-wehave{
    width: 300px;
    margin: 0 auto;
}
.text-wehave h2{
    font-size: 28px;
}
.box-wehave{
    width: 300px;
    height: 220px;
    margin: 0 auto;
    padding: 10px 0;
}
.why{
    margin: 30px auto;
}
.box-why{
    width: 300px;
    margin: 20px auto;
}
.box-why p{
    width: 300px;
}
.box-why img{
    width: 100%;
}
.frame-why{
    margin-top: 10px;
}
.photo{
    padding-top: 40px;
    margin-bottom: 40px;
}
.photo img{
    width: 77%;
    height: 43%;
}
}