<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/stylehome.css">
</head>

<body>
    <div class="bg-page">
        <div class="topbar">
            <div class="topbar-menu">
                <div class="menu-side">
                    <img src="../images/icon/Logo.png" alt="โลโก้">
                    <ul class="menubar">
                        <li><a class="" href="index.html">Home</a></li>
                        <li><a class="" href="about.html">About us</a></li>
                        <li><a class="" href="contact.html">Contact us</a></li>
                    </ul>
                </div>

                <div class="appointment">
                    <button class="btn-bar">Make an appointment</button>
                </div>
            </div>

        </div>
        <div class="topbar-nav">
            <div>
                <img src="../images/icon/Logo.png" alt="โลโก้">
            </div>
            <div>
                <span class="open-top" onclick="openNav()">&#9776;</span>
            </div>
            <div class="menubar-nav" id="mySidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br><br>
                <a href="index.html" class="">Home</a>
                <a href="about.html" class="">About us</a>
                <a href="contact.html" class="">Contact Us</a>
                <div class="appointment">
                    <button class="btn-bar">Make an appointment</button>
                </div>
            </div>
        </div>

        <div class="head">
            <div class="text-head">
                <h1>Connecting
                    patiens & clinics</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Sed do eiusmod. </p>
                <button class="btn btnsize-home">Make an Appointment</button>
            </div>
        </div>

        <div class="logo">
            <div>
                <h3>Trusted by <font>hundreds</font> of the world best
                    medical <font>organizations</font>
                </h3>
                <div class="img-logo">
                    <img src="../images/home/logo_1.png" alt="รูป1">
                    <img src="../images/home/logo_2.png" alt="รูป2">
                    <img src="../images/home/logo_3.png" alt="รูป3">
                    <img src="../images/home/logo_4.png" alt="รูป4">
                </div>
            </div>


        </div>
        <div class="services">
            <h2 class="font-h2">Our Services</h2>
            <div class="box-services">
                <div class="box-ser">
                    <img src="../images/home/heart.png" alt="">
                    <div class="box-text">
                        <h3>Cardiology</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                    <div class="readmore">
                        Read more
                    </div>
                </div>

                <div class="box-ser">
                    <img src="../images/home/eye.png" alt="">
                    <div class="box-text">
                        <h3>Cardiology</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                    <div class="readmore">
                        Read more
                    </div>
                </div>

                <div class="box-ser">
                    <img src="../images/home/tooth.png" alt="">
                    <div class="box-text">
                        <h3>Dental care</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                    <div class="readmore">
                        Read more
                    </div>
                </div>
            </div>
        </div>

        <div class="smile">
            <div class="box-smile-l">
                <h2 class="box-top">Online booking process for patients</h2>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Sed ut perspiciatis unde omnis iste.</p>
                </div>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Nemo enim ipsam voluptatem quia.</p>
                </div>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                </div>
            </div>
            <div class="box-smile-r">
                <img class="img-smile" src="../images/home/smile.png" alt="">
                <div class="box-doctor">
                    <div class="available">
                        <div>
                            <img src="../images/home/man.png" alt="">
                        </div>
                        <div class="doctor-top">
                            <h1>Your Private Doctor</h1>
                            <div class="doctor-toprow">
                                <img src="../images/home/Oval.png" alt="จุด">
                                <p>Available now</p>
                            </div>
                        </div>
                    </div>

                    <div class="doctor-boxblue">
                        <h3>Next call shedule</h3>
                        <h4>Today, 11:30 AM</h4>
                        <hr class="line-boxblue">
                        <div class="cell">
                            <img src="../images/home/iconphone.png" alt="">
                            <p>4.2 hours a day</p>
                        </div>
                    </div>
                    <div class="total">
                        <div>
                            <h1>42</h1>
                            <p>Total hours</p>
                        </div>
                        <div class="shape">
                            <img src="../images/home/Shape.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="smile">
            <div class="box-smile-r">
                <img class="img-smile" src="../images/home/work.png" alt="">
                <div class="group">
                    <img src="../images/home/Group.png" alt="">
                </div>
                <div class="phone">
                    <div>
                        <h3>Next call shedule</h3>
                        <h4>Today, 11:30 AM</h4>
                    </div>
                    <div>
                        <img src="../images/home/phone.png" alt="">
                    </div>

                </div>
            </div>
            <div class="box-smile-l">
                <h2 class="box-down">Are you not feeling well?
                    Let us take care of you at home</h2>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Sed ut perspiciatis unde omnis iste.</p>
                </div>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Nemo enim ipsam voluptatem quia.</p>
                </div>
                <div class="text-list">
                    <img src="../images/home/Text.png" alt="">
                    <p>Neque porro quisquam est, qui dolorem ipsum.</p>
                </div>
                <button class="btn btnsize-home">Make an Appointment</button>
            </div>
        </div>

        <div class="test">
            <div class="text-test">
                <p>TESTIMONIAL</p>
                <h2 class="font-h2">What clients says about us</h2>
            </div>
            <div class="test-frank">
                <div class="box-test">
                    <div class="test-top">
                        <img src="../images/home/frank1.png" alt="คน1">
                        <div>
                            <h5>Frank Gallaghers</h5>
                            <p>Patient</p>
                        </div>
                    </div>
                    <div class="test-down">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="box-test">
                    <div class="test-top">
                        <img src="../images/home/frank2.png" alt="คน2">
                        <div>
                            <h5>Frank Gallaghers</h5>
                            <p>Patient</p>
                        </div>
                    </div>
                    <div class="test-down">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="box-test">
                    <div class="test-top">
                        <img src="../images/home/frank3.png" alt="คน3">
                        <div>
                            <h5>Frank Gallaghers</h5>
                            <p>Patient</p>
                        </div>
                    </div>
                    <div class="test-down">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et dolore magna aliqua.</p>
                    </div>
                </div>

            </div>




        </div>

        <div class="footer">
            <div class="takecare">
                <div class="text-takecare">
                    <p>DOWNLOAD APP</p>
                    <h2 class="font-h2">Take care your health</h2>
                </div>
                <div class="icon-takecare">
                    <div class="icon-take">
                        <img class="iconapple" src="../images/home/iconapple.png" alt="">
                        <div>
                            <p>Get it on</p>
                            <h3>App store</h3>
                        </div>
                    </div>
                    <hr class="line-takecare">
                    <div class="icon-take">
                        <img class="icongoogle" src="../images/home/icongoogle.png" alt="">
                        <div>
                            <p>Get it on</p>
                            <h3>App store</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-top">
                <div class="ft-contact">
                    <div class="ft-contact-x">
                        <img src="../images/icon/mark.png" alt="หมุด">
                        <p>59 Street, 1200 Techpark</p>
                    </div>
                    <div class="ft-contact-x">
                        <img src="../images/icon/phone.png" alt="โทร">
                        <p>0123456789</p>
                    </div>
                    <div class="ft-contact-x">
                        <img src="../images/icon/clock.png" alt="นากา">
                        <p>8:00 am - 17:00 pm, Monday - Friday</p>
                    </div>
                    <div class="ft-contact-icon">
                        <img src="../images/icon/facebook.png" alt="fb">
                        <img src="../images/icon/ig.png" alt="ig">
                        <img src="../images/icon/Linkedin.png" alt="in">
                    </div>
                </div>
                <div class="ft-link">
                    <div class="ft-other">
                        <h4>Quick link</h4>
                        <p>Who We Are
                            Our Mission
                            Awards
                            Experience
                        </p>
                    </div>
                    <div class="ft-other">
                        <h4>Department</h4>
                        <p>Who We Are
                            Our Mission
                            Awards
                            Experience
                        </p>
                    </div>
                    <div class="ft-other">
                        <h4>Other</h4>
                        <p>Who We Are
                            Our Mission
                            Awards
                            Experience
                        </p>
                    </div>
                </div>
            </div>
            <hr class="line-footer">
            <div class="footer-end">
                <div class="foter-l">
                    <img src="../images/icon/icon.png" alt="ไอคอนโลโก้">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. </p>
                </div>
                <div class="footer-r">
                    <p>Stay up to date on the latest Le-Beauty news.</p>
                    <div class="input-footer">
                        <input class="input-text" type="text" placeholder="Your Email">
                        <input class="input-submit" type="submit" value="Send">
                    </div>
                </div>
            </div>
            <div class="footer-add">
                <p>© Copyright Le-Beauty 2019. All Right Reserved. Designed and Developed by LessCreate</p>
            </div>
        </div>
    </div>


    <script>
        closeNav()
        function openNav() {
            document.getElementById("mySidenav").style.width = "240px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0px";
        }
    </script>
</body>

</html>